@import './Dashboard.scss';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body, h1, h2, h3, h4, h5, h6,
input[type="text"],
input[type="password"],
input[type="email"],
textarea, select,
input[type="button"],
input[type="submit"],
button {
    font-family: raleway, helveticaneue, helvetica neue, Helvetica, Arial, sans-serif;
    text-transform: none;
}

body {
    font-size: 16px;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0em;
    left: 0em;  
    padding-bottom: 3em;
}

.field {
    padding-bottom: 15px;
}

.layout-auth {
    padding: 20px;
    margin: 30px 0px;
}

.input-error {
    position: relative;
    display: block;
    top: 2px;
    left: 0.5em;
    color: red;
    font-size: 14px;
}

.spin-loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 auto;
    z-index: 100000;
}
