.dashboard-content,
.dashboard-nav {
  flex: 1;
}

.dashboard-content {
  padding: 30px 10px;
  padding-bottom: 0;
  position: relative;
  z-index: 10;
  height: 100%;
}

.dashboard-nav {
  background-color: #2a2a2a;
  display: none;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
  z-index: 11;
  position: fixed;
  min-height: 100vh;
  overflow: auto;
  min-width: 300px;
  max-width: 300px;
}

@media(max-width:991px) {
  .dashboard-nav-inner {
    max-height: 900px;
    width: calc(100% + 18px);
    overflow-y: scroll;
    position: relative;
    display: block;
    padding: 10px 0 25px;
  }
}

.dashboard-nav-inner {
  height: 100%;
  width: calc(100% + 17px);
  overflow-y: scroll;
  position: relative;
  display: block;
  padding: 10px 0 25px;
  margin-top: 20px;
}

.dashboard-nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0
}

.dashboard-nav ul:before {
  content: attr(data-submenu-title);
  padding: 0 30px;
  margin-bottom: 5px;
  display: block;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px
}

.dashboard-nav ul li {
  color: #eee;
  display: block;
  border-left: 3px solid transparent;
  transition: .3s;
  line-height: 24px;
  font-size: 15px
}

.dashboard-nav ul li a {
  color: #eee;
  display: block;
  padding: 11px 27px;
  transition: .3s;
  cursor: pointer
}

.dashboard-nav ul li a i {
  padding-right: 8px;
  width: 20px
}

.dashboard-nav ul li a:hover {
  color: #fff
}

.dashboard-nav ul li span.nav-tag {
  background-color: rgba(255, 255, 255, .2);
  font-family: open sans;
  font-weight: 600;
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  color: #fff;
  padding: 0;
  padding: 0 7px;
  box-sizing: border-box;
  text-align: center;
  min-width: 20px;
  height: 20px;
  letter-spacing: -.5px;
  text-align: center;
  border-radius: 50px;
  margin-left: 4px
}

.dashboard-titlebar {
  padding: 0;
  margin: 0 0 40px;
  display: block;
  background-color: transparent;
  background: transparent
}

.dashboard-titlebar h2 {
  font-size: 30px;
  line-height: 38px
}

.dashboard-nav ul li span.nav-tag.messages {
  top: -2px;
  position: relative
}

.dashboard-nav ul li span.nav-tag.messages,
.dashboard-nav ul li span.nav-tag.green {
  background-color: #64bc36
}

.dashboard-nav ul li span.nav-tag.yellow {
  background-color: #b9be1c
}

.dashboard-nav ul li span.nav-tag.red {
  background-color: #DD0048
}

.dashboard-nav ul li ul {
  padding: 0;
  margin: 0;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  line-height: 0;
  transition: .2s
}

.dashboard-nav ul li.active ul {
  visibility: visible;
  padding: 0 0 15px;
  line-height: 24px;
  opacity: 1;
  max-height: 300px
}

.dashboard-nav ul li ul li {
  color: #eee;
  background-color: transparent;
  border: 0;
  padding-left: 54px;
  position: relative;
  margin: 0
}

.dashboard-nav ul li ul li a {
  padding: 7px 0
}

.dashboard-nav ul li ul li:hover {
  color: #fff;
  border: 0;
  background-color: transparent
}

.dashboard-nav ul li a:after {
  font-family: fontawesome;
  content: '\f107';
  right: 27px;
  font-size: 16px;
  position: absolute;
  transition: .2s;
  color: rgba(255, 255, 255, .5)
}

.dashboard-nav ul li.active a:after {
  transform: rotate(180deg)
}

.dashboard-nav ul li ul:before,
.dashboard-nav ul li a:only-child:after {
  content: '';
  display: none
}

.dashboard-nav ul li ul li:hover a {
  padding-left: 4px
}

.dashboard-nav ul li a.active,
.dashboard-nav ul li:hover {
  color: #fff;
  border-color: #66676b;
  background-color: rgba(255, 255, 255, .05)
}

#dashboard #titlebar {
  padding: 0;
  margin: 0 0 40px;
  display: block;
  background-color: transparent;
  background: transparent
}

#dashboard #titlebar h2 {
  font-size: 30px;
  line-height: 38px
}

.dashboard-stat {
  display: inline-block;
  padding: 0;
  height: 160px;
  background-color: #444;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: .3s;
  cursor: default
}

.dashboard-stat:hover {
  transform: translateY(-4px)
}

.dashboard-stat-content {
  position: absolute;
  left: 32px;
  top: 50%;
  width: 45%;
  transform: translateY(-50%)
}

.dashboard-stat-content h4 {
  font-size: 42px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: open sans;
  letter-spacing: -1px
}

.dashboard-stat-content span {
  font-size: 18px;
  margin-top: 4px;
  line-height: 24px;
  font-weight: 300;
  display: inline-block
}

.dashboard-stat-icon {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-40%);
  font-size: 80px;
  opacity: .3
}

.dashboard-stat.color-1 {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, .2));
  background-color: #64bc36
}

.dashboard-stat.color-2 {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, .1));
  background-color: #363841
}

.dashboard-stat.color-3 {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, .3));
  background-color: #ffae00
}

.dashboard-stat.color-4 {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, .1));
  background-color: #DD0048
}

#dashboard .pagination ul li a,
#dashboard .pagination-next-prev ul li a {
  background-color: transparent
}

#dashboard .pagination ul li a.current-page,
#dashboard .pagination .current,
#dashboard .pagination ul li a:hover,
#dashboard .pagination-next-prev ul li a:hover {
  background-color: #fff
}


.dashboard-list-box {
  margin: 30px 0 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .06);
  border-radius: 4px
}

.dashboard-list-box .button {
  padding: 6px 15px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
  margin: 0
}

.dashboard-list-box .button.gray:before {
  display: none
}

.dashboard-list-box .button.gray {
  background-color: #e9e9e9;
  color: #666
}

.dashboard-list-box .button.gray:hover {
  background-color: #66676b;
  color: #fff
}

.dashboard-list-box h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 25px 30px;
  color: #333;
  background-color: #fff;
  display: block;
  border-bottom: 1px solid #eaeaea;
  border-radius: 4px 4px 0 0
}

.dashboard-list-box h4.gray {
  background-color: #fbfbfb
}

.dashboard-list-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 0 0 4px 4px
}

.dashboard-list-box ul li {
  padding: 23px 30px;
  border-bottom: 1px solid #eaeaea;
  transition: .3s;
  position: relative
}

.dashboard-list-box.with-icons ul li {
  padding-left: 87px
}

.dashboard-list-box ul li:last-child {
  border: 0
}

.dashboard-list-box ul li:hover {
  background-color: #fbfbfb
}

.dashboard-list-box .numerical-rating {
  margin: 0 3px
}

.dashboard-list-box ul li i.list-box-icon {
  height: 38px;
  width: 38px;
  color: #777;
  text-align: center;
  line-height: 37px;
  border-radius: 50%;
  transition: .3s;
  display: inline-block;
  background-color: #eee;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px
}

.dashboard-list-box ul li:hover i.list-box-icon {
  background-color: #eaeaea
}

.dashboard-list-box-static {
  padding: 30px;
  background-color: #fff
}

.dashboard-list-box-static .button {
  padding: 12px 20px;
  font-size: 15px;
  margin-bottom: 3px
}

a.close-list-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  opacity: 0;
  padding: 4px;
  color: #DD0048;
  transition: .3s
}

.dashboard-list-box ul li:hover a.close-list-item {
  opacity: 1
}

.dashboard-list-box ul ul {
  background-color: transparent
}

.dashboard-list-box ul ul li:nth-last-child(2n+1) {
  background-color: transparent
}

.dashboard-list-box ul ul li {
  padding: 0;
  border: 0;
  transition: .3s;
  background-color: transparent;
  display: inline-block
}

.dashboard-list-box ul ul li:hover {
  background-color: transparent
}

.dashboard-list-box .sort-by {
  top: 16px;
  right: 26px
}

.dashboard-list-box .sort-by .chosen-container-single .chosen-single {
  background-color: transparent;
  padding: 0 4px
}

.dashboard-list-box .chosen-container .chosen-results li {
  border: 0
}

.dashboard-list-box.invoices li {
  padding: 20px 30px
}

.dashboard-list-box.invoices ul li strong {
  color: #333
}

.dashboard-list-box.invoices ul ul {
  line-height: 22px;
  padding-bottom: 2px;
  color: #909090
}

.dashboard-list-box.invoices ul ul li {
  padding: 0
}

.dashboard-list-box.invoices ul ul li:after,
.user-profile-name.invoices ul ul li:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #e0e0e0;
  position: relative;
  margin: 0 10px
}

.dashboard-list-box.invoices ul ul li:last-child:after {
  display: none
}

.paid {
  color: #64bc36
}

.dashboard-nav ul li.active,
.dashboard-nav ul li:hover {
  border-color: #DD0048;
}

.unpaid {
  color: #DD0048
}

.buttons-to-right,
.dashboard-list-box .button.to-right {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate3d(0, -49%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: .4s;
  box-shadow: 0 0 10px 15px #fbfbfb
}

.dashboard-list-box li:hover .buttons-to-right,
.dashboard-list-box li:hover .button.to-right {
  opacity: 1
}

.buttons-to-right {
  box-shadow: none
}

.buttons-to-right .button {
  margin-left: 2px
}

.dashboard-list-box .button i {
  padding-right: 2px;
  position: relative;
  top: 1px
}

.dashboard-list-box .button i.fa-remove {
  padding-right: 1px
}

.dashboard-list-box .comments.listing-reviews li {
  margin: 19px 0 10px
}

.dashboard-list-box a.rate-review {
  border: 0;
  color: #666;
  background-color: #eee;
  padding: 4px 18px
}

.dashboard-list-box a.rate-review:hover {
  background-color: #66676b;
  color: #fff
}

.dashboard-list-box .comment-by-listing {
  display: inline-block;
  color: #888
}

.dashboard-list-box .comment-by-listing.own-comment,
.dashboard-list-box .comment-by-listing.own-comment a {
  color: #444
}

.dashboard-list-box .comment-by-listing a {
  color: #888
}

.dashboard-list-box .comment-by-listing a:hover {
  color: #66676b
}

.add-webpage-section {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .06);
  margin-right: 30px;
}

.add-webpage-headline {
  width: 100%;
  position: relative;
  padding: 30px 40px;
  margin: 0 0 20px;
  border-radius: 4px 4px 0 0;
  background-color: #fcfcfc;
  border-bottom: 1px solid #eaeaea;
}

.add-webpage-headline i {
  padding-right: 7px;
  display: inline-block;
}

.add-webpage-header {
  padding: 0;
  margin: 0;
  line-height: 32px;
  font-size: 22px;
}

.add-webpage-content {
  padding: 30px 40px;
}

.add-webpage-form {
  padding: 30px 0;
}

h5 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 17px;
}

.tip {
  font-style: normal;
  position: relative;
  top: -1px;
  left: 2px;
  display: inline-block;
  cursor: help;
  color: #fff;
  font-size: 11px;
  line-height: 0;
  width: 18px;
  height: 18px;
  background: #66676b;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 0!important;
  font-weight: 500
}

.tip-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 20px));
  -ms-transform: translate(-50%, -100%);
  background: #333;
  color: #fff;
  padding: 13px 15px;
  min-width: 200px;
  max-width: 200px;
  font-size: 13px;
  border-radius: 4px;
  line-height: 19px;
  pointer-events: none;
  z-index: 999;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s
}

.tip:hover .tip-content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, calc(-100% - 13px));
  -ms-transform: translate(-50%, -115%)
}

.tip:after {
  font-family: fontawesome;
  content: "\f128";
  line-height: 19px;
  display: inline-block;
  position: relative;
  text-align: center;
  -moz-transform: translateY(-1px)
}

.tip-content:after {
  font-family: fontawesome;
  content: "\f0dd";
  position: absolute;
  bottom: 3px;
  left: 50%;
  font-size: 22px;
  color: #333;
  transform: translate(-50%, 50%)
}

.drop-area, .dropzone {
    box-sizing: border-box
}

.drop-area {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.dropzone {
    position: relative;
    border: 2px dashed #d0d0d0;
    border-radius: 3px;
    background: #fcfcfc;
    transition: all .3s linear;
    margin-bottom: 30px;
    margin-top: 5px;
    display: inline-block;
    width: 100%
}

.dropzone:hover {
    border: 2px dashed #59b02c;
    background: #fff;
    transition: all .35s linear
}

.dropzone:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .95), rgba(255, 255, 255, .9));
    background-color: #59b02c;
    opacity: 0;
    z-index: 10;
    transition: all .3s linear;
    border-radius: 3px
}

.dropzone:hover:before {
    opacity: .4
}

.notification {
  overflow: hidden;
  height: 180px;
}
